@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400&display=swap');

h2{
    font-size: 40px;
    font-weight: 300;
    font-family: 'Advent Pro', sans-serif;
    color: #8c00b2;;
}

.secc{
    font-size: 22px;
    color: #777777;
    display: inline-block;
    align-content: start;
    font-family: 'Advent Pro', sans-serif;
}

.iconcolor{
    color: #f05656;
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}