.hero{
    background-image: url("../assets/hero.jpg");
    background-size: cover;
    background-position: center top;
}

.colum{
    padding-top: 2rem;
}

.f{
    margin-top: 2rem;
    padding-bottom: 2rem;
}